h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
	line-height: 1.2;
	margin-bottom: .5em;
	margin-top: 0;
}

img {
	height: auto;
	max-width: 100%;
}

a {
	color: #999999;
}

p {
	margin-bottom: 1em;
	margin-top: 0;
}

/* white circles */

.flickity-page-dots {
	bottom: -50px;
}

.flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: transparent;
  border: 2px solid black;
}

/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  background: black;
}